<div class="card">
  <div class="card-body">
<form [formGroup]="customerForm">
  <div class="form-group" [ngClass]= "{'has-error': (customerForm.get('firstName').touched ||
                                              customerForm.get('firstName').dirty) &&
                                              !customerForm.get('firstName').valid }">
    <label for="firstNameId" >First name</label>
    <input type="text" class="form-control" id="firstNameId" formControlName="firstName">
    <span class="help-block" *ngIf="(customerForm.get('firstName').touched || customerForm.get('firstName').dirty) &&
    customerForm.get('firstName').errors ">
    <span *ngIf="customerForm.get('firstName').errors.required">
    Please enter your first name
    </span>
    <span *ngIf="customerForm.get('firstName').errors.minlength">
      The first name must be longer than 3 characters.
    </span>
    </span>

  </div>
  <div class="form-group" [ngClass]="{'has-error': (customerForm.get('lastName').touched || customerForm.get('lastName').dirty) && !customerForm.get('lastName').valid }">
    <label for="lastNameId">last name</label>
    <input type="text" class="form-control" id="lastNameId" formControlName="lastName">
    <span class="help-block" *ngIf="(customerForm.get('lastName').touched || customerForm.get('lastName').dirty) &&
    customerForm.get('lastName').errors ">
    <span *ngIf="customerForm.get('lastName').errors.required">
    Please enter your last name
    </span>
    <span *ngIf="customerForm.get('lastName').errors.minlength">
      The last name must be longer than 3 characters.
    </span>
    </span>
  </div>
  <div class="form-group" [ngClass]="{'has-error': (customerForm.get('creditCardNo').touched || customerForm.get('creditCardNo').dirty) && !customerForm.get('creditCardNo').valid }">
    <label for="creditCardNo">credit Card No</label>
    <input type="number" class="form-control" id="creditCardNo" formControlName="creditCardNo">
    <span class="help-block" *ngIf="(customerForm.get('creditCardNo').touched || customerForm.get('creditCardNo').dirty) &&
    customerForm.get('creditCardNo').errors ">
    <span *ngIf="customerForm.get('creditCardNo').errors.required">
    Please enter your credit card number
    </span>
    <span *ngIf="customerForm.get('creditCardNo').errors.minlength">
      Invalid Credit card number
    </span>
    </span>
  </div>
  <div class="form-group" [ngClass]="{'has-error': (customerForm.get('street').touched || customerForm.get('street').dirty) && !customerForm.get('street').valid }">
    <label for="street">Street Addr</label>
    <input type="text" class="form-control" id="street" formControlName="street">
    <span class="help-block" *ngIf="(customerForm.get('street').touched || customerForm.get('street').dirty) &&
    customerForm.get('street').errors ">
    <span *ngIf="customerForm.get('street').errors.required">
    Please enter your street address
    </span>


    </span>
  </div>



  <button type="submit" class="btn btn-primary" (click)="makePayment()" [disabled]="!customerForm.valid"  >Make Payment</button>
</form>
  </div>
</div>
