<!--<div>music-list</div>-->

<div class="card" *ngIf="music"  style="margin-top: 20px;">

  <div class="list-group">
    <button class="list-group-item list-group-item-action rounded-0"
            *ngFor="let m of music  | paginate: { itemsPerPage: 10, currentPage: p }"
            [ngClass]="{'active': m === selectedMusic}"
            (click)="musicSelected(m)">{{ m.trackName }}

    </button>
    <div class="card-footer">
    <pagination-controls (click)="pageNum($event)" (pageChange)="p = $event"></pagination-controls>
    </div>


  </div>
</div>
