<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup" >
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="music">Music</a>
      <a class="nav-item nav-link" *ngIf="isLoggedIn" routerLink="fav">Favorites <span class="badge badge-danger" style="margin-top: -10px;">{{val$ | async}} </span></a>



      </div>
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" routerLink="cart">Cart <span class="badge badge-danger" style="margin-top: -10px;">{{cartCount$ | async}}</span></a>

      <a class="nav-item nav-link" *ngIf="!isLoggedIn" routerLink='/login'>Log In</a>

      <a class="nav-item nav-link" *ngIf="isLoggedIn" (click)="logOut()" style="cursor: pointer">Log Out</a>
    </div>
    </div>


</nav>
<router-outlet></router-outlet>

